.details {
  min-height: 750px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  border: 1px solid #7acb7f;
  padding: 20px;
  text-align: center;
  backdrop-filter: blur(10px);
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(30, 81, 45, 0.15) 50%,
    rgba(255, 255, 255, 0.2) 100%
  );
  position: relative;
}

.details .button-close {
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 12px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: 700;
}

.details .button-close.light {
  border: 1px solid #fff;
  background-color: #fff;
  color: #7acb7f;
}
.details .button-close.dark {
  border: 1px solid #7acb7f;
  background-color: #7acb7f;
  color: #fff;
}

.details .button-close:hover {
  background-color: #7acb7f;
  color: #fff;
}
