html,
body {
  margin: 0;
  padding: 0;
}

main {
  min-height: calc(100vh - 78px);
}

.light {
  background-color: #cbedcd;
  color: #000;
}
.dark {
  background-color: #323232;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 10px;
}
